# Binaries and executables
limbo
app
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*cpu.out
*mem.out

# SQLite database files
*.db
*.db-journal
*.db-wal
*.db-shm

# Local environments / configurations
.env
.env.local
.env.*.local

# IDEs and OS files
.idea/
.vscode/
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
